<h1>Portfolio</h1>
<% if false %>
<%= link_to '+ New Work', new_work_path, :class => "button" %>
<% end %>
<div class="row">
<% @works.each do |work| %>
  <div class="large-4 medium-6 columns end">
    <div class="panel">
      <h2><%= link_to work.title, work.url %></h2>
      <p><%= work.description %></p>
      <p><%= link_to "Details", work %></p>
      <!-- <p><%= work.image %></p>  -->
    </div>
  </div>
<% end %>
</div>




