<%= link_to 'Back', works_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @work.image %>
</p>

<p>
  <strong>URL:</strong>
  <%= @work.url %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %>

